
/* HTML & Body
-------------------------------------------------------------- */

body {
  	font-size: 86%;
  	font-family: Georgia, "Times New Roman", Times, Serif;
  	line-height: 1.6em;
  	color: #333;
}


/* Text elements
-------------------------------------------------------------- */

a {
  	text-decoration: none;
}

a:link {
  	color: #772124;
  	text-decoration: none;
}

a:visited {
  	color: #772124;
  	text-decoration: none;
}

a:hover {
  	color: #58181b;
  	text-decoration: underline;
}

/* Headings
-------------------------------------------------------------- */

h1 {
      margin: 0;
  	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1.8em;
}


h2 {
      margin: 0;
  	padding-top: 20px;
	padding-bottom: 5px;
	font-size: 1.6em;
}

h3 {
      margin: 0;
  	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1.4em;
}

h4 {
      margin: 0;
  	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1.3em;
}

h5 {
      margin: 0;
  	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1.2em;
}

h6 {
      margin: 0;
  	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1em;
}


/* Layout
-------------------------------------------------------------- */

#wrapper {
  	width: 930px;
  	margin: 0 auto;
  	text-align: left;
}


/* Main area + Sidebar regions
-------------------------------------------------------------- */

#content { 
  	float: left; 
  	width: 600px;
  	padding-bottom: 20px;
  	padding-top: 10px;

}

#content .title {
	border-bottom: 4px double #eee;
  	padding-bottom: 10px;
}

.breadcrumb {
 	padding-left: 10px;
}

#sidebar { 
  	float: right; 
  	width: 300px;
  	padding-bottom: 20px;
}

#sidebar h2 {
  	font-size: 1em;
  	font-weight: normal;
  	text-transform: uppercase;
  	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
  	border-bottom: 1px solid #eee;
}

.node {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

.node .title a:hover {
	color: #772124;
}

.node .title a {
	color: #333;
}

.node .picture {
  	float: right; /* LTR */
  	margin: 0.5em;
}

.comment .picture {
  	float: right; /* LTR */
  	margin: 0.5em;
}

.comment h3 {
	padding-top: 0.3em;
	font-size: 1.3em;
}

.sticky {
	margin-bottom: 1em;
}

preview .node, .preview .comment, .sticky, .comment {
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: 1em;
margin-bottom: 1em;
padding-bottom: 1em;
background-color: #f4f4f4;
}

.comment .title a {
}

.comment .new {
text-align: right; /* LTR */
font-weight: normal;
float: right; /* LTR */
color: red;
}

.comment .picture {
float: right; /* LTR */
margin: 0.5em;
}


.messages {
  	border-right: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
  	padding: 0.3em;
  	margin-bottom: 1em;
	background-color: #f4f4f4;
}

.sticky h2 {

	padding-top: 0.2em;
}


#mission {
	padding-left: 20px;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 0px;
}


/* Header + Menu
-------------------------------------------------------------- */

#header {
  	padding: 20px 0 0 0;
}

#menu {
 	padding: 20px 0 5px 0;
  	border-bottom: 5px solid #333;

}

#nav {
  	font-size: 1.1em;
  	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
}

#nav ul {
  	padding: 0 0 0 20px;
  	position: relative;
}
#nav ul li {
  	float: left;
  	margin: 0 0 0 15px;
}
#nav li a:link, #nav li a:visited {
  	color: #333;
  	text-decoration: none;
}

#nav li a:hover {
  	color: #772124;
  	text-decoration: none;
  	padding-top: .1em;
  	border-top: 4px solid #772124;
}

#nav li.active-trail a
{
  	color: #772124;
  	text-decoration: none;
  	padding-top: .1em;
  	border-top: 4px solid #772124;

}


/* Logo
-------------------------------------------------------------- */

.logo
{
	display: inline;
	padding-left: 5px;

}

h1.logo-name, h2.logo-name
{
	display: inline;
	text-align: left;
	padding-left: 5px;
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h2.logo-name, h2.logo-name a, h2.logo-name a:link, h2.logo-name a:visited
{
	font-size: 1.7em;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #58181b;
}

h1.logo-name a:hover, h2.logo-name a:hover {
	color: #772124;
}

.logo-text
{	
display: inline;
	text-align: left;
	padding-left: 5px;
}

.logo-text, .logo-text a
{
	font-size: 1.1em;
	font-style: normal;
	font-weight: normal;
	font-style: italic;
	
}

/* Misc.
-------------------------------------------------------------- */

.feed-item-body {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

#block-node-0 img, .feed-icon {
  	float: left; /* LTR */
  	padding-top: 10px;
}

div.links ul.links a {
	background-repeat: no-repeat;
	padding-left: 10px;
	padding-bottom: 5px;
}

.book-navigation .menu {
	padding-bottom: 15px;
}

#forum table {
  	width: 100%;
}

#forum td {
  	padding: 0.5em;
	border: 1px solid #bbb;
}

#forum td.forum, #forum td.posts {
  	background-color: #eee;
}

#forum td.topics, #forum td.last-reply {
  	background-color: #ddd;
}

#forum td.container {
  	background-color: #bbb;
}

#forum td.container a {
}

#forum td.statistics, #forum td.settings, #forum td.pager {
  	height: 1.5em;
  	border: 1px solid #bbb;
}

#forum td .name {
  	
}

#forum td .links {
  	padding-top: 0.7em;
}

#tracker table {
  	width: 100%;
}

#tracker td {
  	padding: 0.5em;
}

#notice {
	font-size: 0.8em;
	text-align: right;
	
}

#notice a {
	text-decoration: underline;
}

#contact-mail-page {
	padding-bottom: 20px;
}

#contact-mail-user {
	padding-bottom: 20px;
}

#node-form {
	padding-bottom: 20px;
}

#openid-user-add {
	padding-bottom: 20px;
}

#user-profile-form {
	padding-bottom: 20px;
}

#book-outline {
	padding-bottom: 20px;
}

#user-register {
	padding-bottom: 20px;
}

#user-login {
	padding-bottom: 20px;
}

#user-pass {
	padding-bottom: 20px;
}

#comment-form {
	padding-bottom: 20px;
}

#filter-filter-1 {
	padding-bottom: 20px;
}

#aggregator {
	padding-bottom: 20px;
}
#tracker {
	padding-bottom: 20px;
}
#forum {
	padding-bottom: 20px;
}

#search-block-form {
	padding: 10px;
}

.error {
  	border-color: red;
}

.profile {
clear: both;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: .8em;
margin: 1em 0em;
background-color: #f4f4f4;;
}

#aggregator .feed-source {
background-color: #f4f4f4;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: 0.8em;
}

/* Lists
-------------------------------------------------------------- */

ul {
margin: 0.5em 0 1em;
padding: 0;
}

ol {
margin: 0.75em 0 1.25em;
padding: 0;
}

ol li, ul li {
margin: 0.4em 0 0.4em .5em; 

}

ul.menu, .item-list ul {
margin: 0.35em 0 0 -0.5em; 
padding: 0;
}

ul.menu ul, .item-list ul ul {
margin-left: 0em; 
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
margin: 0.15em 0 0.15em .5em; 
}

ul li, ul.menu li, .item-list ul li, li.leaf {
padding: 0 0 .2em 1.5em;
list-style-type: none;
list-style-image: none;
background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em; 
}

ol li {
padding: 0 0 .3em;
margin-left: 2em; 
}

ul li.expanded {
background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em; 
}

ul li.collapsed {
background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em; 
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
display: block;
}

ul.inline li {
background: none;
margin: 0;
padding: 0 1em 0 0; 
}

ol.task-list {
margin-left: 0; 
list-style-type: none;
list-style-image: none;
}
ol.task-list li {
padding: 0.5em 1em 0.5em 2em; 
}
ol.task-list li.active {
background: transparent url(images/task-list.png) no-repeat 3px 50%; 
}
ol.task-list li.done {
background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%; 
}
ol.task-list li.active {
margin-right: 1em; /* LTR */
}

fieldset ul.clear-block li {
margin: 0;
padding: 0;
background-image: none;
}

#user-login-form {
text-align: center;
}
#user-login-form ul {
text-align: left; /* LTR */
}

ul.links li, ul.inline li {
background-image: none;
}

.links li {
margin: 0;
padding: 0;

}

.tabs li {
margin: 0;
padding: 0;
background-image: none;
}



/* Footer
-------------------------------------------------------------- */

#footer {
  	color: #666;
  	clear: both;
  	border-top: 1px solid #eee;
  	padding: 5px;	
  	display: block;
  	font-size: 0.86em;

}

#footer a {
	text-decoration: underline;
}

#footer h2, #footer h3 {
	padding-top: 0px;
}

#footer .content {
	padding-top: 0px;
}

#footer h2 {
  	font-size: 1em;
  	font-weight: normal;
  	text-transform: uppercase;
  	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
}
